/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 10pt;
 font-family: 'PF Square Sans Pro';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_Code /* Code */
{
 font-size: 9pt;
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 color: #808080;
}
span.f_Comment /* Comment */
{
}
span.f_HEADINF_FON_RED /* HEADINF_FON_RED */
{
 font-size: 8pt;
 color: #ffffff;
 text-transform: uppercase;
 background-color: #606060;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 15pt;
 color: #606060;
 text-transform: uppercase;
}
span.f_ImageCaption /* Image Caption */
{
}
span.f_LIST_BLACK /* LIST_BLACK */
{
 color: #606060;
 text-transform: uppercase;
}
span.f_LIST_LOWBLACK /* LIST_LOWBLACK */
{
 font-size: 8pt;
 color: #606060;
 text-transform: uppercase;
}
span.f_Notes /* Notes */
{
}
span.f_TABLE_HEADING /* TABLE_HEADING */
{
 font-size: 8pt;
 color: #ffffff;
 text-transform: uppercase;
}
/* Paragraph styles */
p /* Normal */
{
 text-align: justify;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_Code /* Code */
{
 font-size: 9pt;
 text-align: left;
 margin: 4px 0px 4px 0px;
}
.p_CodeExample /* Code Example */
{
 font-size: 8pt;
 text-align: left;
 white-space: nowrap;
 page-break-inside: avoid;
 margin: 5px 0px 5px 0px;
}
.p_Comment /* Comment */
{
 font-size: 10pt;
}
.p_HEADINF_FON_RED /* HEADINF_FON_RED */
{
 font-size: 8pt;
 text-align: left;
 border-color: #606060;
 border-style: solid;
 border-width: 2px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 margin: 4px 0px 4px 0px;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 10pt;
}
.p_LIST_BLACK /* LIST_BLACK */
{
 font-size: 10pt;
 text-align: left;
 border-color: #606060;
 border-style: solid;
 border-width: 2px;
 border-top: none;
 border-right: none;
 border-left: none;
 background: #ffffff;
 margin: 0px 0px 7px 0px;
}
.p_LIST_LOWBLACK /* LIST_LOWBLACK */
{
 font-size: 8pt;
 text-align: left;
 border-color: #606060;
 border-style: solid;
 border-width: thin;
 border-top: none;
 border-right: none;
 border-left: none;
 background: #ffffff;
 margin: 0px 0px 7px 0px;
}
.p_Notes /* Notes */
{
 font-size: 10pt;
}
.p_TABLE_HEADING /* TABLE_HEADING */
{
 font-size: 8pt;
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute;
                              border:none; background:#000; opacity:0.3; filter:alpha(opacity=30);
            								   visibility:hidden }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%;
                                 border:none; background:#000; opacity:0.3; filter:alpha(opacity=30);
                                 visibility:hidden }
.hmImageMap:hover a.hmHotspotRect { visibility:visible }
.hmImageMap:hover a.hmHotspotEllipse { visibility:visible }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF }
