/* Hyperlink colors and behaviors */
a.topiclink {color: blue; text-decoration: underline;}
a.topiclink:visited {color: blue;}
a.topiclink:hover {color: blue; }
a.weblink {color: blue; text-decoration: underline;}
a.weblink:visited {color: blue;}
a.weblink:hover {color: blue; }
a.popuplink {color: blue; text-decoration: underline;}
a.popuplink:visited {color: blue;}
a.popuplink:hover {color: blue; }
a.filelink {color: blue; text-decoration: underline;}
a.filelink:visited {color: blue;}
a.filelink:hover {color: blue; }
a.scriptlink{color: blue; text-decoration: underline;}
a.scriptlink:visited {color: blue;}
a.scriptlink:hover {color: blue;}
a.inline-toggle {color: blue; text-decoration: underline;}
a.inline-toggle:visited {color: blue;}
a.inline-toggle:hover {color: blue; }
a.dropdown-toggle {color: blue; text-decoration: underline;}
a.dropdown-toggle:visited {color: blue;}
a.dropdown-toggle:hover {color: blue; }

/* Footer defined in HM_TOPICFOOTER.html */
div.topicfooter {
   width: 100%;   
   margin: 20px auto 0 auto;
   padding: 0 0 10px 0;
   border-style: solid;
   border-width: 1px 0 0 0;
   border-color: silver;
}
p.topicfooter {
	font-family: Verdana, Tahoma, Helvetica, Sans-Serif;        
	font-size: 0.7em;
	color: #737373;
	text-align: center;
	width: 100%;
	padding-top: 5px;
}
p.topicfooter a {
   color: #737373;
   border-bottom: 1px dotted #666;    
   text-decoration: none;
}
p.topicfooter a:visited {
   color: #737373;
}
p.topicfooter a:hover {
   text-decoration: underline;    
   color: #262626; border-color: #262626;   
   text-decoration: none;
}

/* General Background */
body, html  {
	background-color: #fff;
	overflow: hidden;
	}
html { 
	overflow-y: scroll;
	overflow-x: auto;
	}
div#hmheader {
   top: 0; left: 0; right: 0;
   background-color: #fff;
   padding: 5px 16px 5px 0;
   width: 100%;
   height: 65px;
   overflow-y: hidden;
   overflow-x: hidden;
   z-index: 100;
   border-bottom: 1px solid silver; 
   margin-bottom: 5px;
   }	
div#idcontent {
	padding: 10px 10px 5px 5px;
	top: 35px; right: 0; bottom: 2px; left: 0;
	 overflow: hidden;
	 z-index: 99;
      }

/* root element for tabs  */
ul.tabs { 
	display: none;
}

/* Sortable Tables */
    table a.sortheader img {
    border: 0;
	outline: none;
    }
    a.sortheader {
	color: black;
	text-decoration: none;
	white-space: nowrap;
	}
    a.sortheader:visited {
	color: black;
	text-decoration: none;
	}	
    a.sortheader:hover {
	color: black;
	text-decoration: none;
	}	
	a.sortheader {
	outline: none;
	}

 /* Components of the Topic AutoTOC Window. These are the dead defaults. 
	A number of settings will be reset by the script */ 
   
#autoTocWrapper {
	display: none; 
	z-index: 1000;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: silver;
	width: auto;
	position: absolute;
	top: 35px;
	right: 25px;
	background-color: #999999;
	-moz-box-shadow: 2px 2px 10px silver;
	-webkit-box-shadow: 2px 2px 10px silver;
	box-shadow: 2px 2px 10px silver;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
       
#autoTocMiddle, #autoTocInner {
   padding: 0;
   margin: 0;
   } 

p.autoTOC {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	margin:0; padding:0;
	line-height: 100%;
}
   
#autoTocWrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

#autoTocWrapper ul li {
	padding: 3px;
	cursor: pointer;
	border-bottom: 1px solid silver;
	background-color: #f6f6f6;
}
div#atocIcon {
	position: absolute; 
	top: 5px; 
	right: 20px;
	display: none;
}
div#unclicker {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	display: none;
	background: transparent;
	background-image: url('spacer.gif');
	z-index: 998;
}
div#atocIcon, div#atocIcon span {
font-family: Tahoma, Verdana;
	font-size: 9px;
	font-weight: normal;
	padding: 0; margin: 0;
	text-align: center;
	line-height: 90%;
	color: #999;
}
div#atocIcon, div#atocIcon span, img#hmAtocLink {
	z-index: 999;
}
img.menuicon {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
	margin-top: -1px;
}
div#hmheadercontents {
	margin-right: 50px;
}
div#nojsheadercontents {
	margin-top: -10px;
	padding-bottom: 12px;
	display: none;
}

img.navicon {
	margin: 0;
	padding: 1px 1px 0 2px;
	border-radius: 5px;
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
}
img.naviconH {
	border-color: #777;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #abdef7;
	background: -moz-linear-gradient(top,  #ffffff,  #abdef7);
	background: -ms-linear-gradient(top,  #ffffff,  #abdef7);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#abdef7));
	background: -o-linear-gradient(top,rgb(255,255,255),rgb(171,222,247));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#abdef7);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#abdef7)";
	cursor: pointer;
}

/* IntenseDebate and Disqus comments */

   p#commentLink1 {
   text-align: right;
   margin: -8px 0 5px 0;
   }
   p#commentLink2 {
   text-align: right;
   margin: 5px 0;
   }
   
   a.commentLink {
   font-size: 10pt; 
   font-family: 'Arial'; 
   font-style: normal; 
   font-weight: bold; 
   color: blue; 
   text-decoration: none;
   }
   a.commentLink:visited {
   color: blue;
   }
   a.commentLink:hover {
   text-decoration: underline;
   }
   span.comments {
   color: red;
   }
 
div#commentsWrapper {
	 display: none;
	 position: fixed;
	 top: 5px; right: 40px; bottom: 20px; left: 20px;
	 background-color: white;
	 border: 1px solid black;
	 border-radius: 5px;
	 box-shadow: 5px 5px 5px #888;
	 z-index: 10000;
	}
 
div#commentsBox {
	 overflow-x: auto; overflow-y: scroll; 
	 position: absolute;
	 padding: 5px 15px 5px 10px;
	 top: 2px; left: 0px; right: 1px; bottom: 2px;	
	}

img#closeCmtButton {
	 position: absolute;
	 top: 0px; right: -38px;
	 cursor: pointer;
	 z-index: 10000; 
	}
   
/* Styles to catch manual printouts via right-click */
@media print {
p#breadcrumbs, div#atocIcon, div#menuIcon, div.topicfooter {
	display: none !important;
	}
html, body {
	overflow: hidden !important;
}
div#hmheader, div#idcontent {
	position: static !important;
	overflow: hidden !important;
	height: auto !important;
	border-width: 0px !important;
}
img.menuicon {
	display: none !important;
}
}